.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('./assets/dashboard.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-position-y: 100px;
  background-position-x: 80px;
  
  overflow: auto;
  
}

h1{
  text-shadow: 1px 1px 3px #000;
  margin: 40px;
  color: #272643;
}
