.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-size: cover;
  
  overflow: auto;
  
}

h1{
  text-shadow: 2px 2px 3px #000;
  margin: 40px;
  color: #272643;
}
