.Question_Container{
    box-sizing: border-box;
    height: 100%;
    flex-direction: column;
    animation: apper 2s ease-in-out;
    padding:5px;
    border-radius: 10px;
}

.Question_Container div:nth-child(1){
    padding: 10px;
    height: 25%;
    font-size: 1.8em;
    font-weight: bold;
    color: #123256;
    text-shadow: 1px 1px 1px #262626;
    border-bottom: 2px solid #262626;
}

.Question_Container div:nth-child(2){
    padding: 10px;
    height:50%;

}

.Question_Container div:nth-child(2) label{
    display: block;
    margin: 10px 5px;
    font-size: 1.1em;
    color: #262626;
    
}

.Question_Container div:nth-child(2) label input{
    margin-right: 15px;
}

.Question_Container div:nth-child(3){
    height:10%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.Question_Container div:nth-child(3) button{
    cursor: pointer;
    padding: 0 10px;
    font-size: 1.6em;
    background-color: transparent;
    font-weight: bold;
    color: #123256;
    border: none;
    outline: none;
}

.Question_Container div:nth-child(3) img{
    width: 15%;

}

.Question_Container div:nth-child(3) button:hover{
    opacity: 0.8;
    
}

.correct_text{
    position: absolute;
    color:green;
    font-size: 1.5em;
    font-weight: bolder;
    animation: growandshrink 1.8s ease-in-out;
    opacity: 0;
}

@media screen and (max-width:700px){
    .Question_Container div:nth-child(1){
        font-size: calc(1em + 1vw);
    }
    .Question_Container div:nth-child(2) label{
        font-size: 0.8em;
    }
    .Question_Container div:nth-child(3) button{
        font-size: 1.2em;
    }
  }

@keyframes growandshrink{
    0%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        
        transform: scale(4,4) translateY(-50px);
        
    }
    100%{
        transform: scale(0,0);
        opacity: 0;
    }
}

@keyframes apper{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
